In [118]:
#MySQL Create database
import mysql.connector
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "cuonganh",
    password = "123654789"
)
print(mydb)
mycursor = mydb.cursor()

sql_createDB = "CREATE database mydatabase"
sql_showDBs = "SHOW DATABASES"

# mycursor.execute(sql_createDB)
mycursor.execute(sql_showDBs)

for x in mycursor:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C2B757BF70>
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('schoolmanagement',)
('sys',)
('world',)

In [99]:
#MySQL Create table

mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "cuonganh",
    password = "123654789",
    database = "mydatabase"
)
mycursor = mydb.cursor()

sql_dropTB = "DROP TABLE IF EXISTS customers"
sql_createTB = "CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))"

# mycursor.execute(sql_createTB)
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

In [110]:
#MySQL Insert 
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "cuonganh",
    password = "123654789",
    database = "mydatabase"
)
mycursor = mydb.cursor()

sql_insert = "INSERT INTO customers (name, address) VALUES (%s, %s)"

values = [('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql_insert, values)
mydb.commit()

print(mycursor.rowcount, " was inserted")

13  was inserted

In [119]:
#MySQL Select
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "cuonganh",
    password = "123654789",
    database = "mydatabase"
)
mycursor = mydb.cursor()

sql_select = "SELECT id, name, address from customers"

mycursor.execute(sql_select)

myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [108]:
#MySQL Where
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "cuonganh",
    password = "123654789",
    database = "mydatabase"
)
mycursor = mydb.cursor()

sql_where_select = "SELECT * FROM customers WHERE id <= 13"
sql_where_wildCard = "SELECT * from customers where address like '%way%' "

# mycursor.execute(sql_where_select)
mycursor.execute(sql_where_wildCard)

myresult = mycursor.fetchall()
for x in myresult:
  print(x)

In [107]:
#MySQL Order By
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "cuonganh",
    password = "123654789",
    database = "mydatabase"
)
mycursor = mydb.cursor()

sql_orderBy = "SELECT * from customers order by name"
sql_orderByDESC = "SELECT * from customers order by name desc"

# mycursor.execute(sql_orderBy)
mycursor.execute(sql_orderByDESC)

myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [131]:
#MySQL Delete
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "cuonganh",
    password = "123654789",
    database = "mydatabase"
)
mycursor = mydb.cursor()

sql_delete = "DELETE from customers where id > %s"
delete_ids = ("13",)

mycursor.execute(sql_delete, delete_ids)
mydb.commit()

print(mycursor.rowcount, " record(s) deleted")

0  record(s) deleted

In [133]:
#MySQL Drop Table
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "cuonganh",
    password = "123654789",
    database = "mydatabase"
)
mycursor = mydb.cursor()

sql_dropTB = "DROP TABLE IF EXISTS customers"

# mycursor.execute(sql_dropTB)

In [136]:
#MySQL Limit
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "cuonganh",
    password = "123654789",
    database = "mydatabase"
)
mycursor = mydb.cursor()

sql_limit = "SELECT * FROM customers LIMIT 10"
sql_limit_offset = "SELECT * FROM customers LIMIT 5 OFFSET 2"

mycursor.execute(sql_limit_offset)

myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [58]:
#MySQL Join
import mysql.connector
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "cuonganh",
    password = "123654789",
    database = "mydatabase"
)
mycursor = mydb.cursor()

sql_createTB_users = "CREATE TABLE users (id varchar(10), name varchar(50), fav varchar(50))"
sql_createTB_products = "CREATE TABLE products (id varchar(10), name varchar(50))"
sql_showTBs = "SHOW TABLES"

# mycursor.execute(sql_createTB_users)
# mycursor.execute(sql_createTB_products)
# mycursor.execute("ALTER TABLE products MODIFY COLUMN id varchar(10)")

sql_insert_users = "INSERT INTO users (id, name, fav) VALUES (%s, %s, %s)"
sql_insert_products = "INSERT INTO products (id, name) VALUES (%s, %s)"

values_users = [
    ('1','John','154'),
    ('2','Peter', '154'),
    ('3', 'Amy', '155'),
    ('4','Hannah',''),
    ('5', 'Michael','')
]

values_products = [
    ('154', 'Chocolate Heaven'),
    ('155', 'Tasty Lemons'),
    ('156', 'Vanilla Dreams')
]

# mycursor.executemany(sql_insert_users, values_users)
# mycursor.executemany(sql_insert_products, values_products)
# mydb.commit()
# print(mycursor.rowcount, " records was insertd")

sql_join_inner = "SELECT users.name AS user, products.name AS favorite\
                FROM users INNER JOIN products ON users.fav = products.id"

sql_join_left = "SELECT users.name AS user, products.name AS favorite\
                FROM users LEFT JOIN products ON users.fav = products.id"
                
sql_join_right = "SELECT users.name AS user, products.name AS favorite\
                FROM users RIGHT JOIN products ON users.fav = products.id"

mycursor.execute(sql_join_right)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('Peter', 'Chocolate Heaven')
('John', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
(None, 'Vanilla Dreams')